h1, p {
 margin:1em, auto;
 text-align: center;
}

body {
    text-align:left;
    background-color: #8a8ab5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

label {
    display: block;
    margin: 0.5rem 0;
  }

form {
    text-align:left;
    width: 90vw;
    margin: 10px auto;
}

fieldset {
    width: 70vw;
    text-align:left;
    border-style:solid;
    border-color:aliceblue;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    padding: 0 1rem 0.5rem;
}

p.fieldset {
    text-align:left;
    background-color: aliceblue;
}

p.title {
    text-align: center;
    font-weight: bold;
}

input[type=text] {
    width: 95%;
}

input[type=email]{
    width:95%
}

button {
    
    display: block;
    width: 30%;
    margin: 1em auto;
    height: 1.6em;
    font-size: 1.1rem;
    
    min-width: 300px;
    
}

textarea {
    width: 95%;
    margin: auto;
}
